examples/Asterisk-AMI.json
[{"id":"69bc9eb33e214732","type":"tab","label":"Asterisk","disabled":false,"info":"","env":[]},{"id":"e7d2d594e3fd829a","type":"Asterisk-AMI","z":"69bc9eb33e214732","name":"","ip":"127.0.0.1","port":"5038","user":"","events":"","x":290,"y":100,"wires":[["a79e9fca6e1793fe"],[]],"outputLabels":["stdout","errout"]},{"id":"a79e9fca6e1793fe","type":"switch","z":"69bc9eb33e214732","name":"AMI Type Event","property":"payload","propertyType":"msg","rules":[{"t":"hask","v":"event","vt":"str"}],"checkall":"false","repair":false,"outputs":1,"x":480,"y":100,"wires":[["7560c13275078dbd"]],"outputLabels":["event"]},{"id":"7560c13275078dbd","type":"switch","z":"69bc9eb33e214732","name":"AMI Event","property":"payload.event","propertyType":"msg","rules":[{"t":"eq","v":"FullyBooted","vt":"str"},{"t":"eq","v":"Shutdown","vt":"str"},{"t":"eq","v":"Registry","vt":"str"},{"t":"eq","v":"MessageWaiting","vt":"str"},{"t":"eq","v":"EndpointList","vt":"str"},{"t":"eq","v":"DialBegin","vt":"str"},{"t":"eq","v":"DeviceStateChange","vt":"str"},{"t":"eq","v":"UserEvent","vt":"str"}],"checkall":"false","repair":false,"outputs":8,"x":290,"y":260,"wires":[["4e9a4c35b527f08a"],["4e9a4c35b527f08a"],["4e9a4c35b527f08a"],["4e9a4c35b527f08a"],["4e9a4c35b527f08a"],["4e9a4c35b527f08a"],["8c5e62ed8fe5c86c"],["5a5450a86252ceb5"]]},{"id":"5a5450a86252ceb5","type":"change","z":"69bc9eb33e214732","name":"UserEvent","rules":[{"t":"set","p":"topic","pt":"msg","to":"\"Asterisk/Event/\"&payload.userevent","tot":"jsonata"},{"t":"set","p":"payload","pt":"msg","to":"payload.userdata","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":340,"wires":[["dbb8a10e203d8acd"]]},{"id":"8c5e62ed8fe5c86c","type":"change","z":"69bc9eb33e214732","name":"DeviceStateChange","rules":[{"t":"set","p":"topic","pt":"msg","to":"payload.device","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"payload.state","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":300,"wires":[["50f9d3076a0b3fa0"]]},{"id":"183011ba1744edf0","type":"inject","z":"69bc9eb33e214732","name":"restart","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"action\":\"command\",\"command\":\"core restart gracefully\"}","payloadType":"json","x":130,"y":100,"wires":[["e7d2d594e3fd829a"]]},{"id":"50f9d3076a0b3fa0","type":"debug","z":"69bc9eb33e214732","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":750,"y":300,"wires":[]},{"id":"dbb8a10e203d8acd","type":"debug","z":"69bc9eb33e214732","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":750,"y":340,"wires":[]},{"id":"4e9a4c35b527f08a","type":"debug","z":"69bc9eb33e214732","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":750,"y":240,"wires":[]}]